/* Write your CSS here */
.age-vaccine-container {
  background-color: #1c1c2b;
  padding: 20px;
  margin-bottom: 20px;
}

.age-vaccine-heading {
  color: #6c757d;
  font-family: Roboto;
  font-size: 25px;
}
